@mixin inline-block-top {
  display: inline-block;
  vertical-align: top;
} 

html,
body {
  font-size: 14px;
  outline: none;
}

body {
  background-color: $body-background-color;
  color: $text-color;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.main-header {
  background-color: $header-background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  &-left-side,
  &-right-side {
    display: flex;
    align-items: center;
  }
  &-logo-wrapper {
    @include inline-block-top; 
    padding: 0;
    margin: 0 10px 0 5px;
    img {
      width: 68px;
      height: auto;
    }
  }
  &-nav {
    @include inline-block-top;
  }
  &-ul {
    padding: 0;
    margin: 0;
  }
  &-li {
    @include inline-block-top; 
    &.active {
      a {
        color: #FFF;
      }
    }
  }
  &-a {
    display: block; 
    color: $header-link-color; 
    text-decoration: none;
    padding: 10px 5px;
    transition: color .3s ease;
    &:visited {
      color: $header-link-color;
    } 
    &:hover,
    &:focus {
      color: #FFF;
      text-decoration: none;
    }
  }
  &-search-input {
    height: 38px;
    width: 176px;
    border-radius: 10px;
    border: none;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0 10px;
    outline: none;
  }
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 60px;
  border-bottom: 1px solid $border-color;
  &-button {
    border: none;
    background-color: transparent;
    color: $filters-color;
    transition: color .3s ease;
    outline: none;
    &:hover {
      cursor: pointer;
      color: $text-color;
    }
  }
}

.share-idea {
  text-align: center;
  padding-top: 30px;
  &-img {
    width: 75px;
    height: auto;
  }
  &-p {
    @include inline-block-top;
    max-width: 230px;
    font-size: 16px;
    font-weight: 400;
  }
  &-textarea {
    border: 1px solid $border-color;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}